.highliter{
    color: white;
    background-color: transparent;
}

.hide{
    display: none;
}

.search{
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form{
    max-width: 510px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

}
.list__result{
    z-index: 999;
    position: absolute;
    top: 55px;
    /*bottom: 0;*/
    width: 100%;
    background-color: #30354B;
    min-height: 55px;
    padding: 10px;
    border-radius: 0 0 2px 2px;
}

.list__item{
    display: flex;
    align-items: center;
    height: 40px;
    margin-bottom: 10px;
    transition: ease-in 0.3s;

}
.result__link{
    display: flex;
    align-items: center;
    color: #8A91AB;
    border-radius: 2px;
    transition: ease-in 0.3s;
    width: 100%;
    height: 100%;
    padding: 0 5px;
}
.result__link:hover{
    background-color: #8A91AB;
    color: white !important;
}



.notCity{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 100%;
    color: white;
    font-size: 16px;
}

.field, .focus__input{
    height: 55px;
    max-width: 510px;
    width: 100%;
    background-color: #2A2F45;
    border: none;
    border-radius: 2px;
    padding: 10px;
    font-size: 16px;
    color: white;
}
.field::placeholder{
    color: #8A91AB;
}
.field:focus{
    outline: none;
}

.clear__btn{
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 12px;
    bottom: 0;
    border-radius: 50%;
    background-color: transparent;
    border: white;
}
.clear__btn:hover .icon{
    stroke: #161B30;
}
.icon{
    stroke: white;
    transition: all .3s;
}

.info{
    color: #8A91AB;
    max-width: 210px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    position: relative;
}

.text{
    text-align:  center;
    position: relative;
    font-size: 16px;
}

.arrow{
    position: absolute;
    left: -50px;
    top: -15px;
}
