
.App{
    background-color: #161B30;
}
.container{
    height: 100vh;
    background-color: transparent;
    width: 100%;
    max-width: 1250px;
    padding: 0 25px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}